manifest {
  contributors    = [
    [
      name: 'Lucky Luke',
      affiliation: 'Lab',
      email: 'lucky@luke.pan',
      github: '@lluke',
      contribution: ['author', 'maintainer'],
      orcid: '0000-xxxx-xxxx-xxxx',
    ]
  ]
  version         = "1.0.0"
  defaultBranch   = "main"
  name            = "name"
  description     = "description"
  homePage        = "https://github.com/nexomis/nf-template"
  mainScript      = "main.nf"
  nextflowVersion = ">=25.10.0"
}

params {
    // Help and output
    help          = false
    // Input data - samplesheet with sample information
    input         = null
    // Required - path to samplesheet CSV
    // Output format for final documents
    output_format = "pdf"
    // Options: pdf, rtf, docx, html
    // whether to keep markdown
    keep_markdown = false
}

plugins {
  id 'nf-schema@2.6.1'
}

workflow.output.mode = "link"
includeConfig "modules/config/profiles.config"
includeConfig "modules/config/pipeline_info.config"
//includeConfig "conf/resources.config"
//includeConfig "conf/ext.config"
